body {
    background-color: blue;
    font-family: 'Gotu', sans-serif;
}

:focus {
    outline-color: #5d001d;
}

input {
    font-family: 'Gotu', sans-serif;
}

input[type="text"] {
    background-color: #e3afbc;
}

#content {
    display: flex;
    justify-content: center;
}

#app {
    max-width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    border: 1px solid #5d001d;
    background-color: white;
    border-radius: 4px;
    margin: 0.4em 0;
    padding: 0.4em;
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.list-enter, .list-leave-to
{
    opacity: 0;
}

/* FORMATTERING FÖR DROPMENU ENDAST
* GÖR OM CSS SENARE!!!!
*/
.anchor {
    display: flex;
      align-items: center;
      justify-content: center;
  border: 1px solid transparent;
  padding: .75rem 2rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      color: #fff;
  background-color: #27AE60;
  border-color: #27AE60;
}

.anchor::after {
      display: inline-block;
  width: 0;
  height: 0;
  margin-left: .5em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .28em solid transparent;
  border-bottom: 0;
  border-left: .28em solid transparent;
}

.anchor:hover {
  color: #fff;
  background-color: #229954;
  border-color: #229954;
  cursor: pointer;
}

.menu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  color: #212529;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  list-style: none;
  margin: .125rem 0 0;
  padding: .5rem 0;
  position: absolute;
  text-align: left;
}

.drop-item {
  color: #212529;
  padding: .25rem 1.5rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.drop-item:hover {
  background-color: #F4F6F6;
  cursor: pointer;
}

span {
  font-weight: bold;
  color: #229954;
  font-size: 1.25rem;
}