body {
    background-color: white;
    font-family: 'Gotu', sans-serif;
}

.events {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  border-style: outset;
  border-width: 0.5px;
  border-radius: 10px;
  justify-content: center;
}
pre p {
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
  padding-top: 15px;
}
/* @media screen and (min-width: 300px ) and (color) and
(hover: none) {
  .events {
      font-size: 13.5px;
      padding-left: 20px;
  } 
  .layout {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
  }
  .buttonMenu-left button {
      border: none;
      color: black;
      padding: 10px 30px 10px 30px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      margin: 5px;
      display: grid;
      border-style: solid;
      border-width: 0.5px;
      border-radius: 12px;
      border-color: lightgray;
      background-color: transparent;
  }
  .buttonMenu-right button {
      border: none;
      color: black;
      padding: 10px 30px 10px 30px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      margin: 5px;
      display: grid;
      border-style: solid;
      border-width: 0.5px;
      border-radius: 12px;
      border-color: lightgray;
      background-color: transparent;
  }
  .buttonMenu-left {
      grid-column: 1;
      grid-row: 1;
      display: flex;
  }
  .buttonMenu-right {
      grid-column: 1;
      grid-row: 2;
      display: flex;
  }  
  .ruta {
      padding: 0.5em;
      grid-column: 1;
      grid-row: 3;
      height: 850px;
      overflow: auto;
  }
}  */

@media screen and (min-width: 1000px ) {
  .layout {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
  }
  /* lägg till input för formatering här, eller annat\/ */
  .header {
    grid-row: 1;
    grid-column: 2;
    max-width: 1fr;
    overflow: hidden;
  }
  .actionButtons { 
    /* grid-column: 2;
    grid-row: 2; */
    background-color:#27AE60;
    height: fit-content;
    border: none;
    color: black;
    /* padding: 10px 10px; */
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }
  button:hover {
      background-color: lightgray;
  } 
  .ruta {
      padding: 0.5em;
      grid-column: 2;
      grid-row: 3;
      overflow: auto;
      background-color: white;
      border-style: solid;
      border-width: 0.5px;
      border-radius: 10px;
  }
  nav {
    display: flex;
    font-size: 10px;
    grid-column: 2;
    grid-row: 2;
  }
}

/* FORMATTERING FÖR DROPMENU ENDAST
* GÖR OM CSS SENARE!!!!
*/
.anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  padding: .75rem 2rem;
  font-size: 1rem;
  /* border-radius: .25rem; */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      color: #fff;
  background-color: #27AE60;
  border-color: #27AE60;
}

.anchor::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .5em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .28em solid transparent;
  border-bottom: 0;
  border-left: .28em solid transparent;
}

.anchor:hover {
  color: #fff;
  background-color: #229954;
  border-color: #229954;
  cursor: pointer;
}

.menu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  color: #212529;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  list-style: none;
  margin: .125rem 0 0;
  padding: .5rem 0;
  padding: 12px;
  position: absolute;
  text-align: left;
  margin-top: 40px;
}

.drop-item {
  color: #212529;
  padding: .25rem 1.5rem;
  margin-right: auto;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.drop-item:hover {
  background-color: #F4F6F6;
  cursor: pointer;
}

span {
  font-weight: bold;
  color: #229954;
  font-size: 1.25rem;
}

/*
* CSS för About us sidan 
*/

.aboutmaintextbox {
  display: flex;
  justify-content: center;
  font-family: 'Gotu', sans-serif;
 
}
.aboutmainheader {
  display: flex;
  justify-content: center;
}
.aboutmain {
  display: flex;
  justify-content: center;
}

/*
* Navigationsbar
*/

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
  background-color: white;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}
/* .logo-image{
  padding: 5px;
  width: 150px;
} */